@model OnlineShopping.Models.PRODUCT
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nn-product-view">
        <div class="nn-product-essential row col-md-9 nn-margin-bottom">
            <div class="row nn-margin-bottom ">
                <div class="nn-product-image-box col-sm-6">
                    <div class="nn-product-image-box-main  ">
                        <img class="img-responsive" src="/Content/img/products/@Model.ImgUrl" />

                    </div>


                </div>

                <div class="nn-product-shop col-sm-6">

                    <div class="product-name">
                        <h1>@Model.Name</h1>
                    </div>
                    <span class="sku_wrapper">
                        <span class="item-title">Product Code:</span>
                        <span>
                            <strong>
                                @Model.Name - @Model.ID
                            </strong>
                        </span>
                    </span>
                    <span><br /></span>
                    <span class="category-url-wrapper">
                        <span class="item-title">Category: </span>
                        <a href="/Product/Category?CategoryID=@Model.CategoryID">@Model.CATEGORY.Name </a>
                    </span>
                    <p class="no-rating"><a href="#comments" onclick="gotoAddReviews()">Be the first to comments this product</a></p>

                    <div class="short-description">
                        <div class="std">
                            <h5>

                                <strong></strong>

                            </h5><br>

                        </div>
                    </div>

                    <div class="price-box">
                        <h3>@Model.Price</h3>
                    </div>
                    <div class="add-to-box">
                        <div class="add-to-cart nn-margin-bottom">
                            <div class="qty-box">
                                <label for="qty">Qty:</label>
                                <input type="text" style="width:50px" class="form-control" name="qty" id="qty" maxlength="12" value="1" title="Qty">

                            </div>
                        </div>

                        <button type="button" title="Add to Cart" class="btn btn-default add-to-cart" data-id="@Model.ID">
                            <span>Add to Cart</span>
                        </button>


                    </div>


                </div>
            </div>
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#descriptions" role="tab" data-toggle="tab">
                            Descriptions
                        </a>
                    </li>
                    <li>
                        <a href="#specifications" role="tab" data-toggle="tab">
                            Specifications
                        </a>
                    </li>
                    <li>
                        <a href="#comments" role="tab" data-toggle="tab">
                            <i class="fa fa-envelope"></i> Comments
                        </a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="descriptions">
                        <h2>Descriptions</h2>
                        <div>
                            @Model.Detail
                        </div>
                    </div>
                    <div class="tab-pane fade row" id="specifications">


                        <h2>Chi tiết sản phẩm</h2>


                        <div class="col-md-6">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <td>
                                        ProductCode:
                                    </td>
                                    <td>
                                        @Model.Name - @Model.ID
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        @Model.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Category
                                    </td>
                                    <td>
                                        @Model.CATEGORY.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Supplier
                                    </td>
                                    <td>
                                        @Model.VENDOR.Name
                                    </td>



                            </table>
                        </div>
                        <div class="col-md-6"></div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

